.container-div{
    border:2px solid black;
    /* padding: 10px; */
    width: 300px;
}
img{
    width:100%;
    height:300px;
}

.select-box {
    height: 28px;
}

.display-none {
    display: none;
}
.winner {
    color: green;
    font-size: 1.5rem;
}
.loser {
    color: red;
}

.score-values{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

.scoreboard-cta{
    margin-bottom: 5px;
}