.container-div{
    border:2px solid black;
    /* padding: 10px; */
    width: 300px;
    min-height: 350px;
}
.todo-item-div{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
input{
    width:80%;
    height:23px
}

li{
    text-align: left;
}
ol{
    margin-right: 4px;
}