.button{
    /* width:50px; */
    height: 30px;
    padding: 5px;
    background-color: #3399ff;
    color:white;
    border: 1px solid white;
    border-radius: 10%;
    cursor: pointer;
}

button:disabled{
    background-color: rgb(153, 145, 145);
    color: rgb(36, 34, 34);
    cursor:not-allowed;
}