.button{
    /* width:50px; */
    height: 30px;
    padding: 5px;
    background-color: #3399ff;
    color:white;
    border: 1px solid white;
    border-radius: 10%;
    cursor: pointer;
}

button:disabled{
    background-color: rgb(153, 145, 145);
    color: rgb(36, 34, 34);
    cursor:not-allowed;
}

.modal-btn{
    border: 1px solid brown;
    border-radius: 0;
    margin:5px;
    background-color: rgb(233, 222, 222);
    color: black;
    width:100px;
}

.build-control-btn{
    border: 1px solid brown;
    border-radius: 0;
    background-color: rgb(117, 71, 11);
}

.order-btn{
    width:90px;
    height:40px;
    background-color: yellow;
    color: brown;
    font-weight: 900;
    border-radius: 0;
    border: 3px solid brown;
}